.wd-buttongroup {
			border:solid 1px transparent;
			float:left;
			margin-right: 5px;
		}

		.wd-buttongroup .wd-button {
			float:left;
		}

		.wd-mainmenu {
			background-color: red;
		}

		.wd-notificationholder {
			position: fixed;
			left:0;
			bottom: 0;
		}

		.wd-notification {
			background-color: #ccc;
		}

		.wd-mainflyout {
			display: none;
		}

		.wd-showflyout .wd-mainflyout {
			display: block;
		}